@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.radio-canada-big {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}